/* I have changed some of this! :~) */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poiret+One&family=Unbounded&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
* {
    box-sizing: border-box;
    background-color: seashell;


}

h1 {
    position: right;
    border-radius: 10px;
    background-image: url("https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg");
    text-align: center;
    margin-left: -250px;
    margin-right: 250px;
    padding: 20px 0px;
    box-shadow: gold;
    font-family: 'Unbounded', cursive;
    color: rgb(250, 231, 196);
    text-decoration: none;
    font-size: 30px;
    transition: all 0.8s ease-out;
}
h1:hover {
    color: lightcyan;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    text-decoration: none;

}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

body {
    position: center;
    margin-left: 500px;
    padding: 0px;
    font-family: 'Poiret One', cursive;

}

#spotify {
    margin-left: -100px;
}

#song {
    margin-left: 25px;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

#painting {
    border-radius: 40px;
    max-width: 400px;
}
