html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: black solid 1px;

}

nav {
    box-sizing: border-box;
    position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: auto;
}


nav, ul {
    display: flex;
    justify-content: space-between;
    border: black solid 1px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border: black solid 1px;
    ;
}

